<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="homepage.component.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>Linketinder Landing Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/8e5b938a9a.js" crossorigin="anonymous"></script>
</head>
<body class="t1-body">

<header>
  <div class="navbar">
    <div class="innerNavBar">
      <img src="../../../assets/images/logo.png" alt="" class="logo-header">
      <img src="../../../assets/images/logo-conjunta.png" alt="" class="logo-header-large">
      <a  class="button-login-header" routerLink="/login" >Entre</a>
    </div>
  </div>
</header>

<section class="hero-section">
  <div class="hero">
    <h1 class="callout-hero">MAKE IT RAIN</h1>
    <div class="button-box-hero">
      <a  class="register-button-hero" routerLink="/register" >CRIAR UMA CONTA</a>
      <a class="login-button-hero" routerLink="/login">ENTRE AGORA</a>
    </div>
  </div>
</section>

<section class="benefits-section" id="benefits-section">
  <div class="benefits-box">
    <p>Ainda tem dúvidas do porquê entrar na nuvem?</p>
    <ul class="benefits-items-box">
      <li class="benefits-items">
        <div class="cacon-img">
          <img src="../../../assets/images/shield.png" alt="">
        </div>
        <h4>SEGURANÇA</h4>
        <p>Contamos com a melhor segurança possível dentro dos nossos servidores, assim você aproveita a nuvem sem risco de tempestade.</p>
      </li>
      <li class="benefits-items">
        <div class="cacon-img">
          <img src="../../../assets/images/gear.png" alt="">
        </div>
        <h4>OPORTUNIDADES</h4>
        <p>Na nossa nuvem se encontram as melhores empresas do mercado de tecnologia, com a nossa ajuda você pode encontrar o local perfeito para fazer chover. </p>
      </li>
      <li class="benefits-items">
        <div class="cacon-img">
          <img src="../../../assets/images/binary.png" alt="">
        </div>
        <h4>NEWBIE FRIENDLY</h4>
        <p>Na nossa nuvem todos os níveis são bem vindos, fazemos questão de te ajudar nessa caminhada até a tão sonhada vaga.</p>
      </li>
    </ul>
  </div>
</section>

<section class="testimonial-slider">
  <h1 class="callout-testimonial">O que dizem sobre nós</h1>
  <div class="testimonial-box">
    <ul class="testimonial-list">
      <li class="testimonial-items">
        <div class="testimonial-wraper">
          <h3 class="testimonial-name">Rafael Paradizzo</h3>
        </div>
        <p class="testimonial-description">Obrigado Job Cloud por ajudar-me a encontrar meu emprego dos sonhos, poucos dias depois da minha aplicação.</p>
      </li>
      <li class="testimonial-items">
        <div class="testimonial-wraper">
          <h3 class="testimonial-name">Leonardo Nappo</h3>
        </div>
        <p class="testimonial-description">Eu achava que nunca iria dar em nada, mas um dia vi uma vagona. Dei super like e não me arrependi.</p>
      </li>
      <li class="testimonial-items">
        <div class="testimonial-wraper">
          <h3 class="testimonial-name">Giulia Shotano</h3>
        </div>
        <p class="testimonial-description">Eu estava desempregada e depois de muita procura a Job Cloud me ajudou a achar meu emprego do sonhos, depois de muita espera e procura, eu consegui. </p>
      </li>
    </ul>
  </div>
</section>

<section class="social-media-box">
  <div class="social-media-list">
    <h3>REDES SOCIAIS </h3>
    <ul class="social-media-wraper">
      <a href="https://github.com/paradizzo"><img src="../../../assets/images/github-square-brands.svg" alt=""></a>
      <a href="https://www.linkedin.com/in/lucas-paradizo/"><img src="../../../assets/images/linkedin-brands.svg" alt=""></a>
    </ul>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/8e5b938a9a.js" crossorigin="anonymous"></script>

</body>
</html>
